@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xbb9uq');
  src:  url('../fonts/icomoon.eot?xbb9uq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xbb9uq') format('truetype'),
    url('../fonts/icomoon.woff?xbb9uq') format('woff'),
    url('../fonts/icomoon.svg?xbb9uq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-email:before {
  content: "\e919";
}
.icon-padlock:before {
  content: "\e91a";
}
.icon-settings:before {
  content: "\e916";
}
.icon-correct:before {
  content: "\e917";
}
.icon-admin:before {
  content: "\e918";
}
.icon-power:before {
  content: "\e907";
}
.icon-spray:before {
  content: "\e908";
}
.icon-water:before {
  content: "\e909";
}
.icon-label:before {
  content: "\e90a";
}
.icon-lock:before {
  content: "\e90b";
}
.icon-calender:before {
  content: "\e90c";
}
.icon-pinterest:before {
  content: "\e913";
}
.icon-instagram:before {
  content: "\e912";
}
.icon-heart:before {
  content: "\e901";
}
.icon-google-plus:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e90d";
}
.icon-user:before {
  content: "\e905";
}
.icon-right:before {
  content: "\e914";
}
.icon-left:before {
  content: "\e915";
}
.icon-gps:before {
  content: "\e906";
}
.icon-text:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e90e";
}
.icon-shop:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e910";
}
.icon-facebook:before {
  content: "\e90f";
}
.icon-bullhorn:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e900";
}


body { font: 400 16px/22px 'Open Sans', sans-serif !important; color: #252526; letter-spacing: normal;min-width: 320px; position: relative; background: #fff; }

#wrapper {width: 100%;overflow: hidden;position: relative;-webkit-transition: all 0.25s linear;-o-transition: all 0.25s linear;transition: all 0.25s linear; }

.container {max-width: 1170px !important;padding: 0  15px;}

ol, ul { list-style: none; }
ul { margin: 0; padding: 0; }
ul li { margin: 0; font-size: 16px;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
p{ margin: 0 0 15px; font-size: 16px; line-height: 26px; }
table { border-collapse: collapse; border-spacing: 0; }
sup { font-size: 0.83em; line-height: 0; vertical-align: super;}
sub {font-size: 0.83em; line-height: 0; vertical-align: sub;}
b, strong{ font-weight: bold;}
i, em{ font-style: italic; }
figure{ margin: 0; }
img { display: block; max-width: 100%; height: auto; }
a { color: #000; text-decoration: none; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; transition: all 0.25s linear; outline: none !important;}
a:hover,
a:focus { outline: none; color: #14699f !important; text-decoration: none;}
body, input, textarea, button, select{ font-family: 'Open Sans', sans-serif !important; }
button{ background: #ff891b; color: #fff; border-radius: 5px; }
button:hover{ background: #14699f; }
button,
button:hover,
button:focus,
button:active,
.slick-slide,
.navbar,
.navbar-toggler:focus,
.navbar-toggler:hover {outline: none;}
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

input[type="date"], focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

/* CTA */
.btn {
  z-index: 1; 
  background: #ff891b; 
  padding: 11px;
  text-align: center;
  color: #fff !important; 
  min-width: 200px;
  font: 600 18px/26px 'Open Sans', sans-serif !important; 
  letter-spacing: 2px;
  border-radius: 5px; 
  text-transform: capitalize;
  letter-spacing: normal;
  position: relative;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.btn:hover,
.btn:focus,
.btn:active {color: #fff !important;background: #e35400;box-shadow: none;}
::-moz-selection { color: #fff; background:#14699f; }
::selection { color: #fff;background: #14699f; }
input,
textarea,
select{ font-family: 'Open Sans', sans-serif !important; font-weight: 500; border: 1px solid #afafb2; border-radius: 5px;}
select:focus{ box-shadow: none !important; }
input:focus,
select:focus{ border-color: #ff891b !important;}
input:hover {-webkit-appearance:none; -moz-appearance:   none;  appearance: none;}
.form-control {height: 50px; border-radius: 5px; margin: 0 0 15px; border: 1px solid #afafb2; border-radius: 5px;}
textarea{ resize: none; }
.form-control:focus{ box-shadow: none; border-color: #ff891b !important;}
.opener {position: relative;}
.opener:after {
    content: '\e914';
    font-family: icomoon;
    position: absolute;
    right: -26px;
    top: 0;
    font-size: 29px;
    color: #000;
    transform: rotate(89deg);
    z-index: 9;
}
/* Headings */
h1,h2,h3,h4,h5,h6{text-transform: uppercase; color: #14699f; letter-spacing: 1.2px;font-weight: 800;font-family: 'Open Sans', sans-serif !important; margin: 0 0 20px;}
h1 { font-size: 25px; line-height: 32px;}
h2 { font-size: 20px; line-height: 30px;}
h3 { font-size: 18px; line-height: 28px;}
h4 { font-size: 16px; line-height: 26px;}
h5 { font-size: 100%; line-height: normal;}
h6 { font-size: 100%; line-height: normal;}

/* Reset Media if needed */
@media(min-width: 767.98px){
  h1 {font-size: 30px; line-height: 40px;}
  h2 { font-size: 26px; line-height: 36px;}
  h3 { font-size: 22px; line-height: 32px;}
  h4 { font-size: 18px; line-height: 28px;}
}
@media(min-width: 991.98px){
  h1 {font-size: 40px; line-height: 55px;}
  h2 { font-size: 32px; line-height: 40px;}
  h3 { font-size: 24px; line-height: 32px;}
  h4 { font-size: 20px; line-height: 26px;}
}
body.nav-open .top {
  -webkit-transform: translateY(8px) rotateZ(45deg);
  -moz-transform: translateY(8px) rotateZ(45deg);
  -ms-transform: translateY(8px) rotateZ(45deg);
  -o-transform: translateY(8px) rotateZ(45deg);
  transform: translateY(8px) rotateZ(45deg);
}
body.nav-open .bottom {
  -webkit-transform: translateY(-8px) rotateZ(-45deg);
  -moz-transform: translateY(-8px) rotateZ(-45deg);
  -ms-transform: translateY(-8px) rotateZ(-45deg);
  -o-transform: translateY(-8px) rotateZ(-45deg);
  transform: translateY(-8px) rotateZ(-45deg);
}
body.nav-open #header .middle { width: 0;}
body.nav-open{ overflow: hidden; }

/* Header CSS */
#header .top-bar, #header .secondary-top {background: #14699f;padding: 10px 0;}
#header .top-bar ul li a,  #header .secondary-top ul li a{ color: #fff; font-size: 0; line-height: 0; margin: 0 13px;}
#header .top-bar ul li a span,  #header .secondary-top ul li a span{ font-size: 20px; line-height: normal; color: #fff; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; transition: all 0.25s linear; }
#header .top-bar ul li a:hover,
#header .top-bar ul li a span:hover,
#header .top-bar ul li a:hover span,  #header .secondary-top ul li a:hover,  #header .secondary-top ul li a span:hover,  #header .secondary-top ul li a:hover span{ color: #ff891b !important; }
#header .header-block { padding: 15px 0; }
#header .navbar-collapse { -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; transition: all 0.25s linear; display: block !important; background: #14699f; position: fixed; width: 260px; right: -270px; padding: 10px; bottom: 0; top: 0; z-index: 9; -webkit-box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.5); -moz-box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.5); }
body.nav-open #wrapper { width: 100%; float: right; position: relative; margin: 0 260px 0 0; }
#header .navbar-nav .nav-link { font: 400 15px/1 'Open Sans', sans-serif; transition: all 0.25s ease-in; color: #fff; background: rgba(0, 0, 0,0.2); margin: 0 0 1px;padding: 10px; }
#header .navbar-nav .nav-link:hover,
#header .navbar-nav .nav-item.active .nav-link{background: #ff891b; color: #fff  !important;}
body.nav-open #header .navbar .navbar-collapse { right: 0;}
#header .logo {position: static; width: 100px;}
#header .navbar-toggler { width: 40px; border: 0; padding: 5px; display: block; cursor: pointer; float: right; background-color: #14699f; margin: 0; }
#header .icon-cart{color: #000;font-size: 20px;line-height: 24px;}
#header .cart-block .cart,
#header .cart-block .search-hol { margin: 0 7px; line-height: 18px; }
#header .navbar {right: 15px; width: 40px; height: 35px; padding: 0; position: absolute;}
#header .logo a {transition: none; padding: 0; margin: 0;}
#header {background: #fff;color: #fff;position: relative; z-index: 9999; }
#header .bar { height: 4px; width: 100%; display: block; margin: 4px auto; background: #fff !important; border-radius: 0; -webkit-transition: all .7s ease; -moz-transition: all .7s ease; -ms-transition: all .7s ease; -o-transition: all .7s ease; transition: all .7s ease; }
#header .navbar-nav,
#header .navbar-nav .nav-item{ margin: 0; }

/* Dropdown menu */
#dropdown.active .dropdown-menu {display: block;left: 0;}

/* Media */
@media(min-width: 991.98px) {
  #header .top-bar{ background: transparent; padding: 20px 0; }
   #header .secondary-top  {padding: 5px 0; background-color: transparent; }
  #header .top-bar ul li a,  #header .secondary-top ul li a {color: #000;font-size: 14px;line-height: 18px; display: flex; align-items: center;}
  #header .top-bar ul li a span,  #header .secondary-top ul li a span{font-size: 16px;line-height: normal;color: #979797; margin-right: 10px;}
  #header .header-block{ padding-top: 0; padding-bottom: 0; padding-left: 160px; }
  #header nav.navbar { height: auto; display: block;justify-content: center;align-items: center; position: static;width: 100%;padding: 0;}
  #header .navbar-collapse {position: static; background-color: transparent; box-shadow: none; width: 100%; padding: 0; }
  #header .logo {position: absolute;left: 15px;top: -58px;width: 150px;padding: 15px;background: #fff;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;-webkit-box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);
-moz-box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);
box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);}
  #header .navbar-nav .nav-link {background-color: transparent;}
  #header .nav-item + .nav-item { margin-left: 4px; }
  #header .navbar-nav .nav-link{ padding: 19px 10px; margin: 0; }
  #header .main-nav-block {background: #14699f;}
}
@media(min-width: 1199.98px) {
  #header .nav-item + .nav-item { margin-left: 20px; }
}

/* Visual Block CSS */
.visual-block { padding: 70px 0 100px; background-size: cover;background-repeat: no-repeat;background-position: center;}
.visual-block:before{ content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(54,128,167,0.8); }
.visual-block:after{ content: ''; position: absolute; left: 0; right: 0; bottom: -20px; margin: 0 auto; background: url(../images/scrolling.png)no-repeat; background-size: 100% 100%; width: 253px; height: 75px; }
.visual-block h1 {color: #fff;font-size: 26px;line-height: 36px;}
.visual-block h1 br{ display: none; }
.visual-block form {max-width: 760px;margin: 0 auto;background: #fff;padding: 22px;border-radius: 10px;}
.form-group.location:after {content: '\e906';font-family: icomoon;position: absolute;right: 10px;top: 50%;transform: translateY(-50%);font-size: 20px; color: #000;}
.service-need button.button {top: 0;
    right: 0;
    background: #ff891b;
    color: #fff;
    border: none;
    bottom: 0;
    font-size: 18px;
    line-height: 22px;
    min-width: 80px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
  }
.visual-block .scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    text-align: center;
}
.visual-block .scroll-btn .mouse {
    position: relative;
    display: block;
    width: 20px;
    height: 32px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #988da7;
    border-radius: 6px;
    z-index: 9;
}
.visual-block .scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 2px;
    height: 10px;
    background: #988da7;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}
@-webkit-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 20%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 1;
  top: 50%;
  }
  100% {
  opacity: 1;
  top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 20%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 1;
  top: 50%;
  }
  100% {
  opacity: 1;
  top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 20%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 1;
  top: 50%;
  }
  100% {
  opacity: 1;
  top: 29%;
  }
}

/* Media */
@media(min-width: 639.98px) {
  .visual-block h1 br{ display: block; }
}
@media(min-width: 767.98px) {
  .visual-block { padding-top: 100px; padding-bottom: 100px; }
  .visual-block form .form-group.location {width: 200px !important;margin-right: 10px;}
  .visual-block form .form-group {width: 326px !important;margin-right: 10px;}
  .visual-block h1 {font-size: 30px;line-height: 40px;}
}
@media(min-width: 991.98px) {
  .visual-block { padding-top: 140px; padding-bottom: 140px; }
  .visual-block h1 {font-size: 36px;line-height: 46px;}
}
@media(min-width: 1199.98px) {
  .visual-block { padding-top: 190px; padding-bottom: 190px; }
  .visual-block h1 {font-size: 40px;line-height: 50px;}
}

/* Inner Visual CSS */
.visual-block.inner-visual {padding: 100px 0;}
.visual-block.inner-visual:after{ display: none; }

/* Media */
@media(min-width: 767.98px) {
  .visual-block.inner-visual{ padding-top: 150px; padding-bottom: 150px; }
}
@media(min-width: 991.98px) {
  .visual-block.inner-visual{ padding-top: 180px; padding-bottom: 180px; }
}
@media(min-width: 1199.98px) {
  .visual-block.inner-visual{ padding-top: 200px; padding-bottom: 200px; }
}

/* Best Deal Block */
.best-deal-block{ padding: 50px 0; }
.best-deal-block .card .icon-hol {transition: all .5s; z-index: 9; width: 113px;height: 113px;display: flex;align-items: center;justify-content: center;border-radius: 100%;background: #fff;font-size: 60px; line-height: normal;position: absolute;left: 0;right: 0;margin: 0 auto;top: -56px; color:#ff891b;-webkit-box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);-moz-box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);}
.bestseller-items .card a:hover .icon-hol{ background:#ff891b; color: #fff }
.bestseller-items .slick-list {padding: 70px 0 0;}
.flag {-webkit-box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);-moz-box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);background: #fff;top: 0;left: 15px;width: 58px;height: 40px;display: flex;justify-content: center;align-items: center;color:#6e6e6e;font-weight: 600;}
.flag:before,
.flag:after{ content: ''; width: 0; height: 0; position: absolute;top: 100%; }
.flag:before{ left: 0; border-top: 30px solid #fff; border-left: 0 solid #fff; border-right: 30px solid transparent; }
.flag:after {right:0;border-top: 30px solid #fff;border-right: 0 solid #fff; border-left: 30px solid transparent;}
.bestseller-items .caption {background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 100%);background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%);background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );position: absolute;bottom: 0;left: 0;right: 0;color: #fff;font-size: 20px;line-height: 24px;padding: 18px 15px;}
.bestseller-items .slick-slide img,
.bestseller-items .caption {border-radius: 5px;}
.bestseller-items .card {background: #5f5f61;border-radius: 7px;}
.inner-card button:after {
  font-size: 20px;
  content: '\e914';
  font-family: icomoon;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 29px;
  line-height: 60px;
  color: #000;
  transform: rotate(89deg);
  z-index: 9;
}

.inner-card button.collapsed:after {
  content: '\e914';
  transform: rotate(269deg);
}

/* Slick Slider Arrows */
.slick-arrow {position: absolute;top: 60%;transform: translateY(-50%);width: 43px;height: 48px;line-height: 48px;background: #fff;z-index: 9;border: 0;font-size: 0; border-radius: 0;}
.slick-next.slick-arrow {right: 15px;}
.slick-prev.slick-arrow {left: 15px;}
.slick-prev:before,
.slick-next:before {font-family: 'icomoon';color: #101010;font-size: 30px;}
.slick-prev:before {content: '\e915';}
.slick-next:before {content: '\e914';}
.slick-arrow:hover{ background: #ff891b;}
.slick-arrow:hover:before,
.slick-arrow:hover:after{ color: #fff; }

/* Services Block */
.services-block {padding: 30px 0 60px;}
.services-holder .service-card {border-radius: 8px;margin: 0 0 20px;}
.services-holder .service-card .img-hol,
.services-holder .service-card img{ border-top-left-radius: 8px; border-top-right-radius: 8px; }
.services-holder .service-details{padding: 30px 29px 43px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);}
.services-holder .service-card .title {font-size: 24px;line-height: 50px;text-transform: capitalize; color: #49535f;font-weight: 500;position: relative;}
.services-holder .service-card .title:after{ content: ''; position: absolute; bottom: -5px; left: 0; height: 2px; background: #000; width: 60px; }
.services-holder .service-card .title:hover:after{ background: #14699f; }
.services-holder .service-card .price{ margin: 0 0 40px; }
.services-holder .slick-arrow {bottom: -50px;top: auto;transform:  none;margin: 0 10px;-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);}
.services-holder .slick-prev.slick-arrow {right: 50%;left: auto;}
.services-holder .slick-next.slick-arrow {right: auto;left: 50%;}

/* Media */
@media(min-width: 767.98px) {
  .services-block{ padding-bottom: 20px; }
}


/* Scale Hover CSS */
.scaling{transition: transform .3s;}
.scaling:hover{ transform: scale(1.1); }

/* Home Care Block */
.homecare-block {padding: 50px 0 20px;}
.homecare-block .icon-hol {transition: all .5s; z-index: 9; width: 113px;height: 113px;display: flex;align-items: center;justify-content: center;border-radius: 100%;background: #fff;font-size: 60px; line-height: normal;color:#908f8e;-webkit-box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);-moz-box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);}
.homecare-block .content:hover .icon-hol{ background: #ff891b; color: #fff; }
.homecare-block span {color: #ff891b;font-size: 20px;line-height: 30px;margin: 20px 0;display: block;}
.homecare-block p {color: #908f8e;}
.homecare-block .img-hol:before{ display: none; content: ''; position: absolute;left: -130px;top: -73px; background: url(../images/home1.png) no-repeat; background-size: 100% 100%; width: 538px; height: 588px; z-index: -1; }
.homecare-block.about-homecare-block .img-hol:before{ background-image: url(../images/about2.png); }

/* Media */
@media(min-width: 991.98px) {
  .homecare-block{ padding-bottom: 70px; }
  .homecare-block .content {padding-left: 150px;}
  .homecare-block .img-hol:before{ display: block; }
  .homecare-block .icon-hol{ position: absolute; left: 0; top: 50%; transform: translateY(-50%); }
}


/* Industries Block */
.industries-block{ padding: 106px 0 10px; }
.industries-block:before{ content: ''; position: absolute; top: 0; left: 0; right: 0; background: url(../images/wave.png) no-repeat; background-size: 100% 100%; width: 100%; height: 106px; background-position: center; }
.industries-block .logo-contain {padding: 21px 0;position: relative;margin: 0 0 -30px;}
.industries-block .item {border: 1px solid #cacccc;padding: 7px 15px;max-width: 135px; margin: 0 auto; border-radius: 5px;}
.industries-block .logo-contain:after {position: absolute;content: '';bottom: 0;right: 0;left: 0;height: 29px;width: 100%;background: url(../images/indus.png) no-repeat;background-size: 100% auto;}
.industries-block .heading {padding: 30px 0;background: rgb(241,247,255);
background: -moz-linear-gradient(top,  rgba(241,247,255,1) 0%, rgba(254,254,254,1) 100%);
background: -webkit-linear-gradient(top,  rgba(241,247,255,1) 0%,rgba(254,254,254,1) 100%);
background: linear-gradient(to bottom,  rgba(241,247,255,1) 0%,rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );}
.industries-block .item + .item{ margin-left: 5px; }
.industries-block .logo-wrap{ max-width: 702px; margin: 0 auto; }

/* Media */
@media(min-width: 767.98px) {
  .industries-block h1{ line-height: 50px; }
}


/*About us Page CSS*/
.orange {color: #ff891b;}
.community-block {padding: 20px 15px; -webkit-box-shadow: 1px 4px 6px 5px rgba(240,241,241,1); -moz-box-shadow: 1px 4px 6px 5px rgba(240,241,241,1); box-shadow: 1px 4px 6px 5px rgba(240,241,241,1); border-radius: 4px;}
strong.number{ font-size: 20px;line-height: 30px; margin-bottom: 15px;}
.communities-sec .heading {padding: 30px 15px;}
.btn-hol .btn {margin-bottom: 15px;}
  section.services-block-hol {padding: 50px 0;}
/*Media*/
@media(min-width: 767.98px) {
  .btn-hol .btn + .btn {margin-left: 20px;}
  .btn-hol .btn {margin-bottom: 0;}
}
@media(min-width: 991.98px) {
  .about-go .heading  {max-width: 900px; margin: 0 auto;}
  .about-go .heading p, .communities-sec .heading p {font-size: 14px; line-height: 25px; color: #908f8e;}
  .storage-wrapper {padding: 70px 0 120px;}
  strong.number {font-size: 35px;line-height: 40px; margin-bottom: 25px;}
  .community-block {padding: 50px 15px;}
  .communities-sec .heading {padding: 30px 0;}
  section.services-block-hol {padding: 85px 0;}
  .about-service {padding: 70px 0;}
}
@media(min-width: 1199.98px) {
  .about-service {padding: 90px 0 130px;}
}


/*/ Become a Seller Page /*/
/*/ How it Works CSS /*/
.howitworks{ padding: 50px 0; }
.howitworks .icon-hol {transition: all .5s;z-index: 9;width: 113px;height: 113px;display: flex;align-items: center;justify-content: center;border-radius: 100%;background: #fff;font-size: 60px;line-height: normal;color:#377fac; margin:0 auto 43px;-webkit-box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);-moz-box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);}
.howitworks .content span {color: #ff9b3d;display: block;margin: 0 0 33px;font-size: 20px;line-height: 24px;font-weight: 600;}
.howitworks .content p {color: #6e6e6e;line-height: 26px;}
.bg-blue{ background: #377fac; }

/*/ Media /*/
@media(min-width: 767.98px) {
  .howitworks{ padding-top: 70px; }
  .howitworks .content{ position: relative; }
  .howitworks .content:after{ content: ''; position: absolute; right:-35px; background-size: 100% 100%; background-repeat: no-repeat; width: 80px; height: 35px; }
  .howitworks .content:nth-child(odd):after{ background-image: url(../images/arrow1.png); top: 60px; }
  .howitworks .content:nth-child(even):after{ background-image: url(../images/arrow2.png); top:0 }
  .howitworks .content:last-child:after{ display: none; }
}
@media(min-width: 1199.98px) {
  .howitworks .content:after{ width: 120px; height: 45px; right: -45px; }
}

/*/ FAQs Block CSS /*/
.faq-block{ padding: 20px 0 80px; }
.faq-block .accordion button.btn {background: #f8f8f8;color:#606062 !important;padding: 19px 54px;font-size: 16px !important;position: relative;}
.faq-block .accordion button.btn:hover{ text-decoration: none; }
.faq-block .accordion button.btn:before{ content: 'q.'; position: absolute; left: 13px; top: 50%; transform: translateY(-50%); color: #ff9b3d; font-size: 26px; line-height: normal; }
.faq-block .accordion .card-body {padding: 21px 54px; position: relative;}
.faq-block .accordion .card-body:before{ content: 'a.'; text-transform: uppercase; position: absolute; left: 13px; top: 15px; color: #606062; font-size: 26px; line-height: normal; font-weight: 600; }


/*Bar css & seconday nav CSS*/
.bar1, .bar2, .bar3 {
  width: 28px;
  height: 3px;
  background-color: #fff;
  margin: 0 0 4px;
  transition: 0.4s;
  display: block;
}

.change .bar1 {
  -webkit-transform:  rotate(-45deg) translate(-2px, 1px);
  transform: rotate(-45deg) translate(-2px, 1px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform:  rotate(42deg) translate(-8px, -9px);
      transform: rotate(42deg) translate(-8px, -9px);
}
.dropdown-menu {display: none; left: -129px;}
.dropdown-menu ul li {margin-bottom: 10px;color: #000;}
.dropdown-menu ul li a, .dropdown-menu ul li a span{color: #000 !important; font-size: 13px !important; line-height: 17px !important;  margin-right: 12px;}
.change .dropdown-menu {display: block;}
.secondary-wrap .form-control { font-size: 14px; padding-right: 90px;}
.secondary-form .location {width: 250px;}
@media(min-width: 767.98px) {
  .secondary-form {padding: 0 15px;}
}
@media(min-width: 991.98px) {
  .bar1, .bar2, .bar3 {background-color: #000;}
  .secondary-form {padding: 0 265px 0 160px;}
  .secondary-top-list {    width: 250px !important;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%); z-index: 999;}
}
@media(min-width: 1199.98px) {
  .secondary-wrap .form-control { font-size: 16px;}
}



/*Product Detail Page*/
.item-nav {margin: 0 5px; background-color: #cacaca;}
.slider-wrap .slick-slide img {margin: 0 auto;}
.slider-wrap .slick-arrow {top: 50%;}
.smart-check { margin-bottom: 15px;}
.smart-home-wrap h1 {line-height: 30px;}
.smart-check .form-group {width: 100%; margin-bottom: 20px;}
.smart-label { position: relative; padding-left: 35px; margin-bottom: 0; cursor: pointer; font-size: 15px; color: #606062; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.service-tabs {padding: 30px 0;}
.service-tabs .nav-link.active, .service-tabs .nav-link:hover {background-color: #fd881b; color: #fff !important;border-color: #fd881b; border-radius: 0;}
/* Hide the browser's default checkbox */
.smart-label input { position: absolute;  opacity: 0; cursor: pointer; height: 0; width: 0;}

/* Create a custom checkbox */
.checkmark { position: absolute; top: 0; left: 0; content: ''; margin-right: 10px; display: inline-block; vertical-align: text-top;width: 20px;height: 20px; background: white; border: 1px solid #d3d3d5;}

/* On mouse-over, add a grey background color */
.smart-label:hover input ~ .checkmark {background-color: #ccc;}

/* When the checkbox is checked, add a blue background */
.smart-label input:checked ~ .checkmark {  background-color: #14699f;}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after { content: "";position: absolute;display: none;}

/* Show the checkmark when checked */
.smart-label input:checked ~ .checkmark:after {display: block;}

.checkmark.upsize-checkmark {width: 32px;height: 32px;border-radius: 5px;-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);}
.smart-label .checkmark.upsize-checkmark:after {background: transparent url(../images/tick.png) no-repeat;width: 20px;height: 15px;box-shadow: none;transform: none;}
.smart-label input:checked ~ .checkmark.upsize-checkmark {background: #ff8a41;}

/* Style the checkmark/indicator */
.smart-label .checkmark:after {content: ''; position: absolute; left: 4px;top: 8px; background: white; width: 2px;height: 2px; box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white; transform: rotate(45deg);}
.smart-home-wrap select {font-size: 14px; height: 49px; background-image: url(../images/arrow.png);text-transform: capitalize;  cursor: pointer; background-size: 13px 8px;}
.smart-home-wrap input.time {font-size: 14px; color: #495057; background-image: url(../images/calender.png); background-size: 20px; background-repeat: no-repeat;height: 49px;    background-position: right .75rem center;padding: .375rem 0.75rem .375rem .75rem; width: 100%; border: 1px solid #ced4da;}
.smart-home-wrap .price { width: 230px;border: 1px solid #ff891b; padding: 12px; border-radius: 5px; font-size: 30px; font-weight: 800; margin: 0 auto 20px;}
.dull-grey {color: #cacaca;}
.smart-home-wrap p {font-weight: 700;}
.service-tabs .nav-tabs .nav-item {border: 1px solid #cacaca;}
.service-tabs .tab-content {padding: 15px;border: 1px solid #cacaca;font-size: 14px; line-height: 20px; border-top: none;-webkit-box-shadow: 1px 30px 31px 9px rgba(234,234,234,1);
-moz-box-shadow: 1px 30px 31px 9px rgba(234,234,234,1);
box-shadow: 1px 30px 31px 9px rgba(234,234,234,1);}
.service-tabs .nav-link {border: none;    padding: 15px 10px;}
.complementary-wrap .img-block {background-color: #f8f8f8; padding: 30px 15px; text-align: center; border-radius: 4px;}
.complementary-service {padding-bottom: 30px;}
@media(min-width: 767.98px) {
  .smart-check .form-group {flex: 1 1 50%; width: 50%;}
  .smart-home-wrap .price {margin: 0 10px 0 0;}
  .smart-home {padding: 50px 0 0;}
  .smart-check { margin-bottom: 20px;}
  .service-tabs {padding: 50px 0;}
  .service-tabs .nav-tabs .nav-item {border-right: none; width: 215px; text-align: center; font-size: 15px; line-height: 20px;}
  .service-tabs .nav-tabs .nav-item:last-child {border: 1px solid #cacaca;}
  .complementary-service .heading, .product-comparison .heading {margin-bottom: 50px;}
  .complementary-service {padding-bottom: 50px;}
}
@media(min-width: 1199.98px) {
  .smart-home-wrap p {font-size: 18px; line-height: 25px;}
  .smart-home {padding: 100px 0 0;}
  .smart-check { margin-bottom: 35px;}
  .slider-wrap .slick-slide img {height: 100%;}
  .item-nav {height: 132px;}
  .service-tabs {padding: 80px 0 0;}
  .service-tabs .tab-content {padding: 60px 40px;}
  .complementary-service {padding-bottom: 80px;}
}


/*Login page*/
.input-group-prepend { position: absolute; right: 5px; top: 50%;transform: translateY(-50%);background: transparent;}
.input-group-text {background-color: transparent;}
.input-group-prepend span { font-size: 25px;line-height: 35px; color: #afafb2;}
.login-block .heading p {font-size: 20px; line-height: 25px;}
.login-block {padding: 30px 0;background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {  border-top-right-radius: 5px;  border-bottom-right-radius: 5px;}
/* Sign-In Block */
.signin-block {padding: 50px 0;}
.signin-block p {line-height: 35px;color: #6e6e6e;margin: 0 0 30px;}
.blue {color: #14699f;}
.dark-grey {color: #606062;}
.forgot-password  {font-weight: 700;}
.grey {color: #6e6e6e;}
.orange{ color: #ff7e00; }

@media(min-width: 991.98px) {
  .login-block .heading p {font-size: 25px; line-height: 30px;}
  .login-block {padding: 50px 0;}
}



/* Footer CSS */
#footer {background: #f6f6f8;padding: 45px 0 0;font: 400 16px/22px 'Open Sans', sans-serif !important;}
#footer .footerlinksoutter:after{ content: ''; position: absolute; bottom: 0; background-size: 100% 100%; background-repeat: no-repeat;right: 0; background-image: url(../images/footerbg.png); width: 150px; height: 105px;}
#footer .link-hol {margin: 0 0 35px;}
#footer .ulwithicons {margin-left: 30px;}
#footer .footer-links-box li {position: relative;text-transform: capitalize;color: #606062;font-size: 16px;line-height: 22px;margin: 0 0 20px;}
#footer .footer-links-box li a {position: relative;text-transform: capitalize;color: #606062;font-size: 16px;line-height: 22px;}
#footer .link-hol .icons {margin: 0 10px 0 0;font-size: 22px;line-height: normal;position: absolute;left: -30px;top: 50%;transform: translateY(-50%);}
#footer .footer-links-box .title {color: #14699f;margin: 0 0 23px;font: 700 20px/1.5 'Open Sans', sans-serif !important;}
#footer input.form-control {font-size: 15px;margin: 0 0 10px;border-radius: 50px;border-color: #707070;background:transparent;height: 58px;padding: 0 15px;color:#606062;}
#footer button.button {border-radius: 50px;-webkit-transition: all 0.25s linear;-o-transition: all 0.25s linear;transition: all 0.25s linear;top: 0;right: 0;border: none;bottom: 0;width: 100%;font-size: 20px;line-height: 58px;}
#footer .social li {width: 20px;height: 30px;border-radius: 100%;line-height: 35px;text-align: center; margin: 0;}
#footer .social li + li{ margin-left: 25px; }
#footer .social li a {color: #848486;font-size: 18px;line-height: normal;}
#footer .copyright-hol {padding: 12px 0; background: #fff;letter-spacing: 1.2px;}
#footer p,
#footer .copyright-hol p a {color: #868688; font-weight: 300;}
#footer .logo {width: 150px;}

/* Media */
@media(min-width: 639.98px) {
  #footer .footerlinksoutter:after{ width: 330px; height: 205px; }
}
@media(min-width: 767.98px) {
  #footer .footerlinksoutter:after {width: 430px;height: 255px;}
  #footer{ padding-bottom: 0; }
  #footer input.form-control {padding-right: 145px;}
  #footer button.button {position: absolute;right: 5.5px;top: 5.5px;width: 128px;height: 47px;line-height: 47px;font-size: 18px;}
}
@media(min-width: 991.98px) {
  #footer .footerlinksoutter:after {width: 580px;height: 325px;}
  #footer .link-hol {margin: 0;}
  #footer input.form-control {margin-bottom: 50px;}
  #footer:before {width: 167px;height: 164px;}
  #footer:after {width: 150px;height: 143px;}
}
@media(min-width: 1199.98px) {
  #footer .footerlinksoutter:after {width: 679px;height: 372px;}
  #footer .footer-links-box .title {margin-bottom: 40px;}
  #footer:before {width: 217px;height: 214px;}
  #footer:after {width: 200px;height: 193px;}
}


/****** Inner Pages ******/
/* Category Page */
.services-block.categories{ padding-top: 50px; padding-bottom: 100px; }
.category-search {max-width: 811px;margin: 30px auto 0;}
.category-search select {height: 49px;background-image:url(../images/arrow.png);text-transform: capitalize; cursor: pointer;background-size: 13px 8px;}

/* Media */
@media(min-width: 767.98px) {
  .services-block.categories{ padding-bottom: 50px; }
}
@media(min-width: 991.98px) {
  .services-block.categories{ padding-top: 70px; }
}

/* Dashboard CSS */
#page-container.page-header-dark #page-header,
.simplebar-content .bg-header-dark {background-color:#14699f !important;}
.content-header .btn.btn-dual.mr-1 {min-width: auto;}
.page-header-dark #page-header .btn-dual.focus,
.page-header-dark #page-header .btn-dual:focus,
.page-header-dark #page-header .btn-dual:hover,
.sidebar-dark #sidebar .btn-dual.focus,
.sidebar-dark #sidebar .btn-dual:focus,
.sidebar-dark #sidebar .btn-dual:hover{ background: #fff !important;border-color: #fff!important; }
.page-header-dark #page-header .btn-dual:focus i,
.page-header-dark #page-header .btn-dual:hover i{ color: #fff !important; }
.bg-header-dark .link-fx{display: block;width: 100%;}
.bg-header-dark .smini-hidden {max-width: 90px !important;display: block;margin: 0 auto;}
.bg-header-dark a.text-white.link-fx:before{ display: none; }
#page-header .btn.btn-dual{ border:none; }
#page-header .btn.btn-dual:hover{ background: transparent !important; border: none; }




/*Admin login Page CSS*/
.header-block-a .logo-a {text-align: center;}
.header-block-a .logo-a {max-width: 170px;
    margin: 0px auto;}
.dashboard-admin:after {content: '';display: none; 
position: absolute;left: 0;right: 0;margin: 0 auto; 
width: 1px;top: 50px;bottom: 50px;background: #252525;opacity: .2;}
/* Media */
@media(min-width: 767.98px) {
  .dashboard-admin:after{ display: block; }
}


/* Backend Flow CSS */
#header.flow-header{ background: #f0f0f0; }
#header.flow-header .logo{padding: 10px; background:#fff;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;-webkit-box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);-moz-box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);box-shadow: 3px 3px 49px 0px rgba(0,0,0,0.09);}
.flow-wrapper {padding: 50px 0 0;}
.flow-wrapper strong {color: #14699f;font-weight: 800;font-size: 20px;line-height: 30px;letter-spacing: 1.5px;margin: 0 0 10px;}
.flow-wrapper span{color: #6e6e6e;}
.flow-wrapper .form-row {max-width: 737px;margin: 0 auto;border-radius: 10px;border: 1px solid #d3d3d3;text-align: left;}
.flow-wrapper .form-row .form-group {margin: 0;padding: 20px 15px;border-bottom: 1px solid #d3d3d3;}
.flow-wrapper .form-row .form-group:last-child{ border:none; }
.flow-wrapper .step .smart-label {padding-left: 50px;font-size: 17px;line-height: 32px;}
#step-three.flow-wrapper .form-row {border: none;max-width: 100%;}
#step-three.flow-wrapper .form-row iframe{ border-radius: 20px; }
#step-three.flow-wrapper .form-row .form-group{ border: 1px solid #d3d3d3; border-radius: 20px; }
#step-three.flow-wrapper .form-row.row-custom {max-width: 740px;margin: 0 auto 60px;}
.flow-wrapper .form-group .levels {border: 1px solid #d3d3d3; display: none;}
.flow-wrapper .form-group.open-options .levels.second-level-options,
.flow-wrapper .form-group .form-group.open-options .levels.third-level-options {display: block;}

/* Media */
@media(min-width: 767.98px) {
  .flow-wrapper strong {font-size: 26px;line-height: 36px;}
}
@media(min-width: 991.98px) {
  .flow-wrapper strong {font-size: 30px;line-height: 40px;}
}



/* Multistep Form Css - seller work flow */

#multiSteps .slide{display: none;}

#multiSteps .active{display: block; opacity: 1;
  transition: opacity 100ms;}

  .small-heading{text-transform: inherit;}

